<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="log-out.html">

<dom-module id="accounts-list">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <iron-ajax auto
      id="getUserAccountsAjax"
      url="http://localhost:3000/api-uruguay/v1/users/{{storedUser.user_id}}/accounts"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="handleAccountsResponse"
      on-error="handleAccountsError">
    </iron-ajax>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <h1>Accounts</h1>
      <p>List of yours availables accounts:</p>

      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <brum-global-variable key="accountData" value="{{accountSelected}}"></brum-global-variable>      

      <template is="dom-if" if="!{{noResults}}">
        <dom-repeat items="{{accounts}}">
          <template>
            <div class="card">
              <p>
                <template is="dom-if" if="{{isCurrentAccount(item.type)}}">
                    <div><strong>Current Account</strong></div>
                </template>
                <template is="dom-if" if="{{isSavingAccount(item.type)}}">
                    <div><strong>Saving Account</strong></div>
                </template>
                <template is="dom-if" if="{{isCashierAccount(item.type)}}">
                    <div><strong>Cashier Account</strong></div>
                </template>
                
                <div><strong>ID: {{item.id}}</strong></div>
                <div><strong>{{item.iban}}</strong></div>

                <template is="dom-if" if="{{isDollarBalance(item.currency)}}">
                  <div><strong>USD </strong>  <span>{{item.balance}}</span></div>
                </template>
                <template is="dom-if" if="{{isEuroBalance(item.currency)}}">
                    <div><strong>EUR </strong>  <span>{{item.balance}}</span></div>
                </template>
                <template is="dom-if" if="{{isPesoBalance(item.currency)}}">
                    <div><strong>UYU </strong>  <span>{{item.balance}}</span></div>
                </template>
              </p>
              <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="goToMovements" data-item$="{{item}}">View Movements</paper-button>
                <paper-button raised class="primary" on-tap="goToNewTransaction" data-item$="{{item}}">New Transaction</paper-button>
              </div>

          </div>
          </template>
        </dom-repeat>
      </template>

      <template is="dom-if" if="{{noResults}}">
        <p><strong>-- No Accounts --</strong></p>
      </template>
    </div>
  </template>

  <script>
    class AccountList extends Polymer.Element {
      static get is() { return 'accounts-list'; }

      static get properties() {
              return {
                noResults : Boolean
              }
          }

      handleAccountsResponse(data){
          this.accounts = JSON.parse(data.detail.response);
          this.noResults = this.accounts.length === 0;

      }

      handleAccountsError(data){
          var usaurio = this.storedUser;
      }

      goToMovements(e){
        const item = JSON.parse(e.target.dataset.item);
        this.set('route.path', `/accounts-transactions/${item.id}`);
      }

      goToNewTransaction(e){
        const item = JSON.parse(e.target.dataset.item);
        this.set('route.path', `/new-transaction/${item.id}`);
      }

      isCurrentAccount(type){
        return type === 1;
      }

      isSavingAccount(type){
        return type === 2;
      }

      isCashierAccount(type){
        return type === 3;
      }

      isDollarBalance(currency){
        return currency === 1;
      }

      isEuroBalance(currency){
        return currency === 2;
      }

      isPesoBalance(currency){
        return currency === 3;
      }
    }

    window.customElements.define(AccountList.is, AccountList);
  </script>
</dom-module>
