<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">
<link rel="import" href="shared-styles.html">

<dom-module id="accounts-transactions">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>


    <iron-ajax auto
      id="getAccountAjax"
      url="http://localhost:3000/api-uruguay/v1/accounts{{subroute.path}}"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="handleAccount"
      on-error="handleAccountsError">
    </iron-ajax>

    <iron-ajax
      id="getAccountsTransactionsAjax"
      url="http://localhost:3000/api-uruguay/v1/accounts{{subroute.path}}/transactions"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="handleTransactionsResponse"
      on-error="handleAccountsError">
    </iron-ajax>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    
    <app-location route="{{route}}"></app-location>

    <div class="card">
      <h1>Transactions</h1>
      <p>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-click="applyFilters">Filters</paper-button>
        </div>
      </p>

      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>

      <p>
        <template is="dom-if" if="{{filters}}">
          <paper-date-picker id="startDate" date="{{startDate}}"></paper-date-picker>  
          <paper-date-picker id="endDate" date="{{endDate}}"></paper-date-picker>
          <p>
            <paper-dropdown-menu label="Transaction Type">
              <paper-listbox slot="dropdown-content" selected="{{transType}}" attr-for-selected="value">
                <paper-item value="0">All</paper-item><br>
                <paper-item value="1">Own Transfer</paper-item><br>
                <paper-item value="2">Internal Transfer</paper-item><br>
              </paper-listbox>
              </paper-dropdown-menu>
          </p>
          <p>
            <div class="wrapper-btns">
              <paper-button raised class="primary" on-click="searchWithFilters">Search Transactions</paper-button>
            </div>
          </p>
        </template>
      </p>

      <p>Transactions for <strong>{{accountSelected.iban}}</strong></p>
      <template is="dom-if" if="!{{noResults}}">
        <dom-repeat items="{{transactions}}">
          <template>
            <div class="card">
              <p>
                <p>
                  <template is="dom-if" if="{{isInTransaction(item)}}">
                      <div><strong>IN</strong></div>
                  </template>
                  <template is="dom-if" if="{{!isInTransaction(item)}}">
                      <div><strong>OUT</strong></div>
                  </template>
                </p>
                <template is="dom-if" if="{{isOwnTransfer(item.type)}}">
                  <div><strong>Type: </strong> <span>Own Transfer</span></div>
                </template>
                <template is="dom-if" if="{{isInternalTransfer(item.type)}}">
                  <div><strong>Type: </strong> <span>Internal Transfer</span></div>
                </template>
                <template is="dom-if" if="{{isDollarTransaction(item.currency)}}">
                    <div><strong>Transaction Amount: </strong> USD <span>{{item.amount}}</span></div>
                </template>
                <template is="dom-if" if="{{isEuroTransaction(item.currency)}}">
                    <div><strong>Transaction Amount: </strong> EUR <span>{{item.amount}}</span></div>
                </template>
                <template is="dom-if" if="{{isPesoTransaction(item.currency)}}">
                    <div><strong>Transaction Amount: </strong> UYU <span>{{item.amount}}</span></div>
                </template>
                <div><strong>Date: </strong><span>{{item.date}}</span></div>
              </p>
          </div>
          </template>
        </dom-repeat>
      </template>
      <template is="dom-if" if="{{noResults}}">
        <p><strong>-- No Results --</strong></p>
      </template>
    </div>
  </template>

  <script>
    class AccountTransactions extends Polymer.Element {
      static get is() { return 'accounts-transactions'; }
      
      static get properties() {
              return {
                filters : Boolean,
                transaction_types: Array,
                dateFormat: {
                  type: String,
                  value: 'll'
                },
                transType : Number,
                noResults : Boolean,
                error : String
              }
          }

      handleAccount(data){
        this.accountSelected = JSON.parse(data.detail.response)[0];
        this.$.getAccountsTransactionsAjax.generateRequest();
      }

      handleTransactionsResponse(data){
          this.transactions = JSON.parse(data.detail.response);
          this.noResults = this.transactions.length === 0;
      }

      isOwnTransfer(type){
        return type == 1;
      }
      isInternalTransfer(type){
        return type == 2;
      }

      isInTransaction(item){
        return item.id_receiver_account === this.accountSelected.id;
      }

      isDollarTransaction(currency){
        return currency === 1;
      }

      isEuroTransaction(currency){
        return currency === 2;
      }

      isPesoTransaction(currency){
        return currency === 3;
      }

      applyFilters(){
        if(this.filters){
          this.$.getAccountsTransactionsAjax.params = {};
          this.$.getAccountsTransactionsAjax.generateRequest();
        } 
        this.filters = !this.filters;
      }

      searchWithFilters(){
        if(this.filters){
          if(this.endDate >= this.startDate){
            this.error='';
            this.transactions = null;
            const start = this.startDate.getFullYear() + "-" + (this.startDate.getMonth()+1) + "-" + this.startDate.getDate();
            const end = this.endDate.getFullYear() + "-" + (this.endDate.getMonth()+1) + "-" + this.endDate.getDate();
            if(this.transType && this.transType != 0){
              this.$.getAccountsTransactionsAjax.params = {startDate: start, endDate: end, type: this.transType};
            }else {
              this.$.getAccountsTransactionsAjax.params = {startDate: start, endDate: end};
            }
            this.$.getAccountsTransactionsAjax.generateRequest();
          } else {
            this.error = 'Start date must be before than end date.';
          }
          
        }
      }
    }
    window.customElements.define(AccountTransactions.is, AccountTransactions);
  </script>
</dom-module>
