<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="register-login.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">


<dom-module id="log-out">
  <template>
    <style>
      :host{
        margin: 0;
        padding: 0;
      }
      paper-button {
        color: #fff;
      }
      paper-button.link {
        color: #fff;
        display: inline-block;
        font-size: 13px;
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="indigo" on-tap="logoutUser">Log Out</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-button class="link" on-tap="logoutUser">Log Out</paper-button>
    </template>

    <app-location route="{{route}}"></app-location>
    
    <iron-ajax
      id="logOutAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleLogoutResponse"
      on-error="handleLogoutError">
    </iron-ajax>


  </template>
  <script>
      (function() {
          class LogOut extends Polymer.Element {
              static get is() {
                  return 'log-out';
              }
              static get properties() {
                return {
                    storedUser: Object,
                    link: {
                        type: Boolean,
                        value: false
                            }
                  }
                }

              _setReqBody() {
                  this.$.logOutAjax.body = {
                      "email": this.storedUser.email,
                      "password": this.storedUser.password
                  };
              }

              logoutUser() {
                this.$.logOutAjax.url = 'http://localhost:3000/api-uruguay/v1/logout/';
                this._setReqBody();
                this.$.logOutAjax.generateRequest();
              }

              handleLogoutResponse() {
                  this.storedUser = null;
                  this.set('route.path', '/register-login');
              }

              handleLogoutError() {
                  this.storedUser = null;
              }
          }

          window.customElements.define(LogOut.is, LogOut);
      }());
  </script>

</dom-module>
