<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="new-transaction">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <iron-ajax auto
      id="getAccountAjax"
      url="http://localhost:3000/api-uruguay/v1/accounts{{subroute.path}}"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="handleAccount"
      on-error="handleError">
    </iron-ajax>

    <iron-ajax
      id="addTransactionAjax"
      url="http://localhost:3000/api-uruguay/v1/transactions"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleTransactionOk"
      on-error="handleError">
    </iron-ajax>

    <app-location route="{{route}}"></app-location>

    <div class="card">
          <h1>New Transfer</h1>
          <p> <strong> Sender Account ID <span>{{accountSelected.id}}</span> - Available amount:
            <template is="dom-if" if="{{isDollarAccount(accountSelected.currency)}}">USD</template>
            <template is="dom-if" if="{{isEuroAccount(accountSelected.currency)}}">EUR</template> 
            <template is="dom-if" if="{{isPesoAccount(accountSelected.currency)}}">UYU</template>  
            <span>{{accountSelected.balance}}</span></strong>
          </p> 

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

            <paper-input-container>
                <label slot="input">Receiver Account</label>
                <iron-input slot="input" bind-value="{{formData.receiverId}}">
                <input class="input-style" id="receiverId" type="number" value="{{formData.receiverId}}" placeholder="Receiver Id">
                </iron-input>
            </paper-input-container>

            <paper-input-container>
                <label>Transfer Amount</label>
                <iron-input slot="input" bind-value="{{formData.amount}}">
                <input class="input-style" id="amount" type="number" value="{{formData.amount}}" placeholder="Amount">
                </iron-input>
            </paper-input-container>

            <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="sendMoney">Transfer</paper-button>
            </div>
    </div>
  </template>

  <script>
    class NewTransaction extends Polymer.Element {
      static get is() { this.transactionEnded = false; return 'new-transaction'; }

         static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  error: String,
                  transactionEnded: Boolean
              }
          }

        handleAccount(data){
            this.transactionEnded = false;
            this.accountSelected = JSON.parse(data.detail.response)[0];
        }

        isDollarAccount(currency){
            return currency === 1;
        }

        isEuroAccount(currency){
            return currency === 2;
        }

        isPesoAccount(currency){
            return currency === 3;
        }

          
        setBody(){            
            let body = {
                "id_sender_account": this.accountSelected.id,
                "id_receiver_account": parseInt(this.formData.receiverId),
                "currency": parseInt(this.accountSelected.currency),
                "amount": parseFloat(this.formData.amount)
            };
            this.$.addTransactionAjax.body = body;
        }

        sendMoney(){
            if(this.formData.receiverId && this.formData.amount){
                this.setBody();
                this.$.addTransactionAjax.generateRequest();
            } else {
                this.error = 'Complete all the fields to send the transefer, please.';
                this.transactionEnded = false;
            }
        }

        handleError(event){
            const error = JSON.parse(event.detail.request.xhr.response);
            this.error = error.msg;
        }

        handleTransactionOk(data){
            this.formData.receiverId = 0;
            this.formData.amount = 0;
            this.set('route.path', '/accounts-list');
        }
      
    }

    window.customElements.define(NewTransaction.is, NewTransaction);
  </script>
</dom-module>
